<!--pages/rhythm-player/rhythm-player.wxml-->
<view class='container-left'>

  <view class='header'>
    <text>{{rhythm.name}}</text>
  </view>
  
  <view class='counter-board'>
    <view>
      <text class='label'>组</text>
      <text>{{curSet}}/{{rhythm.sets}}</text>
      <progress percent="{{curSet * 100/rhythm.sets}}" backgroundColor='#fff'/>
    </view> 
    <view>
      <text class='label'>次</text>
      <text>{{curRep}}/{{rhythm.reps}}</text>
      <progress percent="{{curRep * 100/rhythm.reps}}" backgroundColor='#fff'/>
    </view>
    <!--view>
      <text class='label'>延时</text>
      <text>{{rhythm.repDelay - workoutTime%rhythm.repDelay}}s</text>
    </view-->
  </view>

  <view class='counter-board' hidden='{{!countDown}}'>
    <view class='countdown'>
      <text class='label'>{{countDown.title}}</text>
      <text>{{countDown.seconds}}s</text>
    </view> 
  </view>

  <view class='section' style='display:flex; padding:40rpx 0rpx;'>
    <button type='warn' bindtap='pause' hidden='{{!active}}'>暂停</button>
    <button type='primary' bindtap='cont' hidden='{{active}}'>继续</button>
    <button type='warn' bindtap='exit' hidden='{{!active}}'>结束训练</button>
  </view>
</view>