/* pages/rhythm-player/rhythm-player.wxss */


.counter-board {
  padding: 0 10rpx;
  display:flex; 
  flex-direction:row;
}

.counter-board view {
  margin:10rpx;
  padding: 20rpx 0;
  width:100%;
  border-radius: 10rpx;
  border: 0px solid #aaa;
  background-color: #efefef;
  text-align: center;
  font-size: 40px;
}

.counter-board view.countdown {
  background-color: #efefef;
}

.counter-board text {
  display: block;
}

.counter-board text.label {
  font-size: 20px;
}

.counter-board progress {
  margin:10rpx 40rpx;
}